#pirate-ship{
    float: right;
    height: 150px;
    margin: 30px;
    transform: rotate(3deg);
   /* border: 5px solid gray; */
   box-shadow: 5px;
    padding: 10px;
    text-align: center;
    font-family: nanum brush;
}

#pirate-chest{
    float: left;
    height: 150px;
    margin: 30px;
    border-radius: 15px gray;
    transform: rotate(-3deg);
    text-align: center;
    font-family: nanum brush ;
}
img{
    height: 150px;
    margin: 30px;
    border-radius: 15px gray;
}
.centered{
    
}